<article class="oomph-pokeapi-pokemon">
  <ul>
    <li><strong>{% trans %}ID{% endtrans %}</strong>: {{ pokemon.id }}</li>
    <li><strong>{% trans %}Name{% endtrans %}</strong>: {{ pokemon.name }}</li>
    <li><strong>{% trans %}Height{% endtrans %}</strong>: {{ pokemon.height }}</li>
    <li><strong>{% trans %}Weight{% endtrans %}</strong>: {{ pokemon.weight }}</li>
    <li><strong>{% trans %}Base experience{% endtrans %}</strong>: {{ pokemon.base_experience }}</li>
  </ul>
</article>
